@import "tailwindcss";
@import "./theme.css";


.contenedor__h1{
  /* font-family: var(--heading-h1-font-family); */
  font-size: var(--heading-h1-font-size);
  font-style: var(--heading-h1-font-style);
  font-weight: var(--heading-h1-font-weight);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  color: var(--colorprimary);
}

.font-heading-h1 {
  font-family: var(--heading-h1-font-family);
  font-size: var(--heading-h1-font-size);
  font-style: var(--heading-h1-font-style);
  font-weight: var(--heading-h1-font-weight);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
}
.font-heading-h2 {
  font-family: var(--heading-h2-font-family);
  font-size: var(--heading-h2-font-size);
  font-style: var(--heading-h2-font-style);
  font-weight: var(--heading-h2-font-weight);
  letter-spacing: var(--heading-h2-letter-spacing);
  line-height: var(--heading-h2-line-height);
}
.font-heading-h5 {
  font-family: var(--heading-h5-font-family);
  font-size: var(--heading-h5-font-size);
  font-style: var(--heading-h5-font-style);
  font-weight: var(--heading-h5-font-weight);
  letter-spacing: var(--heading-h5-letter-spacing);
  line-height: var(--heading-h5-line-height);
}
.body-text {
  /* font-family: var(--body-text-font-family); */
  /* font-size: var(--body-text-font-size); */
  /* font-style: var(--body-text-font-style); */
  /* font-weight: var(--body-text-font-weight); */
  /* letter-spacing: var(--body-text-letter-spacing); */
  line-height: var(--body-text-line-height);
  color: var(--colorgrey-3);
}
.border-primary {
  border-color: var(--colorprimary);
}
.primary-bg {
  background-color: var(--colorprimary);
}


